body {
    display: grid;
    grid-gap: 1px;
    grid-template-areas:
        "header header header"
        "menu main main"
        "menu main main"
        "menu main main"
        "menu main main"
        "menu main main"
        "footer footer footer";

    grid-template-columns: 202px auto auto;
    grid-template-rows: 155px 4vh 4vh 4vh 4vh auto 15vh;

    background-color: gray; 
}

p {margin: 0;}

.o-menu {
    white-space: nowrap; 
    background-color: rgb(255, 153, 102)
}

.o-main {grid-area: main;}
.o-con {grid-area: cons;} 
.o-labs {grid-area: labs;}
.o-news {grid-area: news;}
.o-about {grid-area: about;}
.o-menu {grid-area: menu;}

.o-con, .o-labs, .o-news, .o-about {
    background-color: rgb(255, 153, 102);
    box-shadow: 2px 2px rgb(255, 51, 0);
    border-radius: 25px;
    text-align: right;
    padding-right: 10px;
    margin-top: 2px;
    white-space: normal;
}

.o-header {
    grid-area: header;
    padding-left: 40px;
}
.o-footer {
    grid-area: footer;
    text-align: center;
}

.o-header, .o-footer {
    text-indent: 0;
    background-color: black;
    color: white;
}

.clickable {
    cursor: pointer;
    font-family: sans-serif;
    font-size: large;
    color: white;
    font-weight: bold;
}

#content {
    width: 100%;
    min-height: 55vh;
}
